<html>
<title> gui</title>

<head>
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ek+Mukta">

</head>
<body>

<div class="menu-wrap">
	<nav class="menu">
               <center><h2   style="color:slateblue;" style="font-family:Century Gothic;">Welcome to configuration management tool</h2></center>
 
		<ul class="clearfix">
		  <li><a href="#">Development environment<span class="arrow">&#9660;</span></a>
                       <ul class="sub-menu">
					<li><a href="#">Dev</a></li>
					<li><a href="#">Bart</a></li>
					<li><a href="#">Buraq</a></li>
					<li><a href="#">Dory</a></li>
					<li><a href="#">Breaking_bad</a></li>
					<li><a href="#">Hawkeye</a></li>
				</ul>
			</li>
	</nav>
</div>
</body>
</html>